/* This is all original, I'm going to have to work on optomising & updateing it. */

html,body { height: 100%; max-height: 100%; background: tan;}
body,td { font-size: small;   line-height: 1.5em; font-family: Verdana, Arial, sans-serif; }
small   { font-size: x-small; line-height: 1.5em; font-family: Verdana, Arial, sans-serif; }
pre     { font-size: small;   line-height: 1.5em; font-family: Courier, monospace; }
h1, h2, h3 { line-height: 1.45em; }

h1.bwheading,h2.bwheading,h3.bwheading { border-bottom: 2px solid #000000; }
h1,h2,h3 { border-bottom: 2px solid #000000; }

a.navbarlink:link    { color: #C00000; text-decoration: none; }
a.navbarlink:visited { color: #C00000; text-decoration: none; }
a.navbarlink:active  { color: #C00000; }
a.navbarlink:hover   { color: #C00000; text-decoration: underline; }

a.allblacklink:link    { color: #000000; text-decoration: none; }
a.allblacklink:visited { color: #000000; text-decoration: none; }
a.allblacklink:active  { color: #000000; }
a.allblacklink:hover   { color: #000000; text-decoration: underline; }

a.weblogtitles:link    { color: #000000; text-decoration: none; }
a.weblogtitles:visited { color: #000000; text-decoration: none; }
a.weblogtitles:active  { color: #000000; }
a.weblogtitles:hover   { color: #000000; text-decoration: underline; }

td.weblogtitles { background-color: #eeffee; }
td.replygray  { background-color: #eeeeee; }
td.replywhite { background-color: #ffffff; }

div.topbox { width: 820px;
             display: table;
             margin: 0 auto; }

div.topleft { display: table-cell; 
              vertical-align: middle;
              text-align: center;
              text-decoration: none; 
              padding: 0px;
              margin: 0 auto; 
              background: tan; }

div.toplefttable { display: table; 
              width: 90%;
              vertical-align: middle;
              text-align: center;
              text-decoration: none; 
              margin: 0 auto; 
              padding: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              background-color: #FFFFFF; }

div.topleftcell { display: table-cell; 
              vertical-align: middle;
              text-align: center;
              text-decoration: none; 
              font-weight: bold;
              margin: 0 auto; 
              padding: 0px;
              background-color: #FFFFFF; }

div.topright { display: table-cell;
               padding: 5px;  
               text-align: center; }

div.outerdiv { width: 820px;
               min-height: 75vh;
               display: table;
               margin: 0 auto; 
               margin-bottom: 7.5vh;
               margin-top: 10px; }

div.leftdiv {
               padding: 5px 10px;
               display: table-cell;
               vertical-align: top;
/*
               border-top: 3px solid #000000;
               border-left: 3px solid #000000;
               border-bottom: 3px solid #000000;
*/               
               -webkit-border-radius: 10px;
               -moz-border-radius: 10px;
               border-radius: 10px;
               background-color: #FFFFFF; }
               
#goHome, #goAllPages {
  font-size: larger;
  text-decoration: none;
  background: #eee;
  color: black;
  padding: 5px;
  top: 5px;
  position: relative;
  margin-left: 5px;
  border: solid 1px black;
  border-radius: 5px;
}

blockquote {
  background: #f5f5f5;
  padding: 1em;
  border: solid 1px;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 1em;
  margin-right: 1em;
}
